Repository dtcMLOps/test-github-action, changes with the labels that .github/labeler.yml gives for each.
All labels: REPOSITORY, documentation, BACKEND, FRONTEND, BEES, services

.github/labeler.yml:

REPOSITORY:
  - .github/workflows/*

documentation:
  - README.md
  - ./*.md

BACKEND:
  - src/api/backend/*

FRONTEND:
  - src/api/frontend/*

BEES:
  - src/bees_engage/*

services:
  - src/services/*

AB#0 docs: add docs
  .github/workflows/labeler.yml
  README.md
Labels: REPOSITORY, documentation

AB#0 docs: update docs
  README.md
Labels: documentation

Create /.zappr.yaml
  .zappr.yaml
Labels: none

Delete dependabot.yml
  .github/dependabot.yml
Labels: none

Update badges.yml
  .github/workflows/badges.yml
Labels: REPOSITORY

Update continuous_delivery.yml
  .github/workflows/continuous_delivery.yml
Labels: REPOSITORY

AB#0 ci: one line description of commitkkkkkkkkkkkkkkkkkkkkkkkkkkkk69
  .github/workflows/commit2.yml
  .github/workflows/reusable_commit_validator.yml
Labels: REPOSITORY

AB#0 ci: one line description of commitkkkkkkkkkkkkkkkkkkkkkkkkkkkk69m
  .github/workflows/commit2.yml
Labels: REPOSITORY

AB#0 ci: one line description of commitkkkkkkkkkkkkkkkkkkkkkkkkkkkk69mm
  .github/workflows/commit2.yml
Labels: REPOSITORY

AB#0 ci: one line description of commitkkkkkkkkkkkkkkkkkkkkkkkkkkkk69mmk
  .github/workflows/commit2.yml
Labels: REPOSITORY

AB#0 ci: one line description of sdsd sdsds sdsdsd dsdsd sdsd sdsds sdsdp
  .github/workflows/commit2.yml
Labels: REPOSITORY

AB#9 docs: add SECURITY
  SECURITY.md
Labels: documentation

AB#0 ci: pr bot slash command
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/scan_chatops_slash.yml
  .github/workflows/slash.yml
  .github/workflows/slash_action.yml
Labels: REPOSITORY

AB#000000 fix: fix readme
  README.md
Labels: documentation

AB#0 docs: one line description of commit
  .changelogrc
Labels: none

AB#0 feat: ad ci pythont
  .coveragerc
  .github/workflows/ci_python.yml
  .github/workflows/reusable_ci_python.yml
  .github/workflows/reusable_lint_python_validator.yml
  .github/workflows/reusable_sonarcloud_scan_no_tests.yml
  .github/workflows/reusable_sonarcloud_scan_with_tests.yml
  .github/workflows/reusable_test_file_existence_validator.yml
  .github/workflows/reusable_unit_integration_py_tests_validator.yml
  pyproject.toml
  requirements-dev.txt
  src/module2/sonar-project.properties
  src/mymodule/mymodule
  src/mymodule/sonar-project.properties
  src/pop/__init__.py
  src/pop/clustering.py
  src/pop/initiatives.py
  src/pop/queries/initiatives.sql
  src/pop/utils/__init__.py
  src/pop/utils/__pycache__/__init__.cpython-39.pyc
  src/pop/utils/__pycache__/config.cpython-39.pyc
  src/pop/utils/__pycache__/spark.cpython-39.pyc
  src/pop/utils/config.py
  src/pop/utils/spark.py
  src/pop/utils/sql.py
  src/pop/utils/utils.py
  src/requirements.txt
  src/sonar-project.properties
  src/tests/__init__.py
  src/tests/conftest.py
  src/tests/unit/__init__.py
  src/tests/unit/test_initiatives.py
Labels: REPOSITORY

AB#0 docs: add feedback report
  .github/DISCUSSION_TEMPLATE/feedback.yml
Labels: none

Update ci_main.yml
  .github/workflows/ci_main.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Update README.md
  README.md
Labels: documentation

Update workflow1.yml
  .github/workflows/workflow1.yml
Labels: REPOSITORY

Create workflow3
  .github/workflows/workflow3
Labels: REPOSITORY

Rename workflow3 to workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

Create main.ipynb
  src/prueba1/main.ipynb
Labels: none

Create main.ipynb
  src/prueba2/main.ipynb
Labels: none

Create main.ipynb
  src/prueba3/main.ipynb
Labels: none

Update workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

Rename main.ipynb to main.md
  src/prueba2/main.md
Labels: none

Update workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

Rename main.ipynb to main.md
  src/prueba3/main.md
Labels: none
