Repository dtcMLOps/test-github-action, changes with the labels that .github/labeler.yml gives for each.
All labels: REPOSITORY, documentation, BACKEND, FRONTEND, BEES, services

.github/labeler.yml:

REPOSITORY:
  - .github/workflows/*

documentation:
  - README.md
  - ./*.md

BACKEND:
  - src/api/backend/*

FRONTEND:
  - src/api/frontend/*

BEES:
  - src/bees_engage/*

services:
  - src/services/*

Rename main.ipynb to main.md
  src/prueba1/main.md
Labels: none

Rename main.md to main.ipynb
  src/prueba1/main.ipynb
Labels: none

Rename main.md to main.ipynb
  src/prueba2/main.ipynb
Labels: none

Rename main.md to main.ipynb
  src/prueba3/main.ipynb
Labels: none

Update workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

Rename main.ipynb to main.md
  src/prueba1/main.md
Labels: none

Update workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

Update workflow3.yml
  .github/workflows/workflow3.yml
Labels: REPOSITORY

AB#0 ci: github actor
  .github/workflows/workflow4.yml
Labels: REPOSITORY

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create hello-world.yaml
  .github/workflows/hello-world.yaml
Labels: REPOSITORY

Update hello-world.yaml
  .github/workflows/hello-world.yaml
Labels: REPOSITORY

AB#0 chore: oadsd
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Update hello-world.yaml
  .github/PULL_REQUEST_TEMPLATE/one.md
  .github/workflows/hello-world.yaml
Labels: REPOSITORY

AB#0 sd: one line dsd of commit
  README.md
Labels: documentation

AB#3 sdd: onsdn of commit
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .github/pull_request_template.yaml
Labels: none
